.donate {
    position: fixed;
    bottom:1px;
    display:flex;
    justify-content:center;
    width: 100%;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 1000; 
    
  }
  